/** HEADER **/
#header-nav {
  background-color: #F6B319;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { 
  font-family: 'Lora', serif;
  color: #557C3E;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px, 1px, 1px, #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  padding-bottom: 0;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list a {
  color: #557C3E;
  text-align: center;
}
#nav-list a:hover {
  background: #F6B319;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar .navbar-toggle .icon-bar{
   background-color: #557C3E !important;
}
.navbar-toggle collapsed {
  border: 1px;
  border-color: #557C3E;
}
.collapse navbar {
  border: 1px;
  border-color: #F6B319;
}
/** BODY **/
#main-content {
  background-color: #557C3E;
  text-align: center;
  font-family: 'Lora', serif;
  font-size: 1.8em;
  color: #F6B319;
  height: 2160px;
  width: 100%;
  border-radius: 0;
  border: 5 px solid #557C3E;
  padding-top: 0;
  margin-top: 0;
}
.menu-section {
  height: 700px;
  background-color: #F6B319;
  border: 2px solid black;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  color: #557C3E;
  text-align: left;
  margin-right: 2px;
  margin-bottom: 5px;
}
.link-top {
  position: absolute;
  bottom: 0;
}

