/** HEADER **/
#header-nav {
  background-color: #F6B319;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { 
  font-family: 'Lora', serif;
  color: #557C3E;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px, 1px, 1px, #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list a {
  color: #557C3E;
  text-align: center;
}
#nav-list a:hover {
  background: #F6B319;
}
#nav-list a span {
  font-size: 1.8em;
}
/** BODY **/
.main-body {
  background: #557C3E;
  height: 2500px;
  border-radius: 0;
  border: 0;
  padding: 0;
}
.menu-section {
  height: 700px;
  background-color: #F6B319;
  border: 1px;
  padding: 5px;
  text-color: #557C3E;
}
